<%= layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="home">
        <div class="logowandarlust">
            <i class="fa-solid fa-compass"></i>
            <h1>WANDARLUST</h1>
        </div>
    </div>
</body>